---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Felix, an indie developer who builds with web technologies.",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>Page under construction.</p>
	</div>
</PageLayout>
